header{
    position: fixed;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left:40px;
    width: 100vw;
    background-color: #2c3642;
}
header h1{
    color: white;
    letter-spacing: 1px;
}