.connedtion-details .checkbox-container {
    width: 40%;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.checkbox-container{
    user-select: none;
}

.connedtion-details h5{
        font-weight: 400;
        color: #7c7c7c;
        width: 40%;
        line-height: 50px;
        font-size: 28px;
}

.checkbox-container .checkbox {
    position: relative;
    right:100px;
    width: 0;
    height: 0;
    opacity: 0;
}

.checkbox-container .switch{
    position: relative;
    width: 70px;
    min-width: 0;
    height: 40px;
    border:2px solid #a1a1a1;
    border-radius: 25px;
    cursor: pointer;
}

.switch-slider{
    position: absolute;
    cursor: pointer;    
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:30px;
    transition-duration: 300ms;
    transition-delay: 100ms;
}
.switch-slider::before {
    content: "";
    display: block;
    position: relative;
    box-shadow: 3px 0px 2px #00000065;
    transform: translateX(-2px) translateY(-2px);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border:2px solid #a1a1a1;
    transition-duration: 300ms;
    background-color:white;
    object-fit: cover;
}

.checkbox-container input:checked + .switch-slider::before {
    transform: translateX(28px) translateY(-2px);
    box-shadow:-3px 0 2px #00000065;
}
.checkbox-container input:checked + .switch-slider {
    background-color:#3b495a;
}
.connedtion-details .label-replacer{
        min-width: 650px;
        width: 100%;
        text-align: end;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}
@media (width>1500px){.checkbox-container .switch {
        width: 60px;
    }

    .checkbox-container .switch {
        width: 80px;
        height: 40px;
        border: 1px solid #a1a1a1;
    }

    .switch-slider::before {
        content: "";
        display: block;
        position: relative;
        box-shadow: 3px 0px 2px #00000065;
        transform: translateX(-1px) translateY(-1px);
        width: 50%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #a1a1a1;
        transition-duration: 300ms;
        background-color: white;
    }

    .checkbox-container input:checked+.switch-slider::before {
        transform: translateX(38px) translateY(-1px);
        bottom: 0px;
    }
}