.advanced-settings textarea{
    width: 100%;
    height: 500px;
    resize: none;
    font-size: clamp(14px, 1.2vw, 22px);
}
.advanced-settings{
    min-height: 600px;
    height: 600px;
    max-height: 600px;
}
.advanced-settings button{
    margin: 40px 20px 0 0;
}
.adv-button{
    margin-top: 40px;
    margin-left: 20px;
}

.modal{
    position: fixed;
    top:100px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-right: 20px ;
    animation: show-modal 2s both;
    background: #52b052;
    width: 270px;
    height: 50px;
    font-size: 24px;
}

.file{
    width: 500px;
    margin-top:20px;
}

@keyframes show-modal{
    0%{
        right:-20px;
        opacity: 0;
    }
    30%{
        right:20px;
        opacity: 1;
    }
    70%{
        right:20px;
        opacity: 1;
    }
    100%{
        right:-20px;
        opacity: 0;
    }
}