.connedtion-details, .Last-Will, .Credentials{
    display: flex;
    flex-direction: column;
    grid-gap:20px;
    padding: clamp(20px, 2vw, 100px);
}
label{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
}
.label-replacer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
}
h5{
    font-weight: 400;
    color:#7c7c7c;
    text-align: end;
}
label h5:last-child{
    text-align: start;
}

.triple-label{
    display: grid;
    grid-template-columns: 4fr 2fr 6fr;
}
.triple-label :nth-child(2){
    text-align: start;
}

input{
    height: 44px;
    font-size: 20px;
    border:1px solid #bebebe;
    border-radius: 2px;
    color:#444444;
    padding: 0;
    padding-left: 5px;
    width: clamp(300px, 20vw, 400px);
}

input:focus{
    border:2px solid #868686;
    outline: none;
}

.page .counter-container{
    display: flex;
    flex-direction: row;
    gap:0;
}
.counter-container button{
    width: 22px;
    height: 22px;
    margin: 0;
    border:none;
    border-radius:0;
    padding: 0;
    line-height: 22px;
    font-size: 16px;
}
.counter-container .counter{
    height: 50px;
    gap:1px;
    padding-left: 1px;
    position: relative;
    bottom: 3px;
}

form .center-button{
    display: block;
    margin: 40px auto 0 auto;
}
