.table-container h3{
    margin: 10px 0 20px 0;
}
.table-container form{
    display: flex;
    flex-direction: column;
    gap:clamp(20px, 1vw, 40px);
    font-size: 26px;
    max-width: 2000px;
}
.table-container form .state{
    min-width: 650px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap:40px;
}
.state h5{
    width: 50%;
    font-size: 22px;
}
h6{
    margin: 0;
    font-size: 20px;
    vertical-align: middle;
    line-height: 36px;
    color: #383838;
}
form button{
    margin:auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
}

th, td{
    border: 1px solid #3b495a;
    height: 80px;
    text-align: center;
    padding: 0 5px;
    user-select: none;
}

td{
    font-size: 20px;
    color: #383838;
    font-weight: 400;
    text-decoration: none;
}
.online{
    background: #d5ffe1;
}
.online:hover{
    background: #b7ffcb;
}
.offline{
    background: #ffdcdc;
}
.offline:hover{
    background: #ffcece;
}
tr{
    transition-duration: 100ms;
}
th {
    background-color: #3b495a;
    color:white;
    padding: 0 10px;
    font-size: 22px;
    font-weight: 400;
}
tr{
    max-height: 100px;
}

td:hover{
    cursor: pointer;
}

@media (width<1400px) {
    table td{
        line-height: 40px;
        padding: 10px 0;
    }
    table th, td{
        padding: 20px 0;
        font-size: 16px;
        height: auto;
    }
}
.empty-row {
    border: 1px solid #3b495a;
    width: 100%;
    height: 150px;
    background-color:#ebebeb;
    color:#cacaca;
    font-size: 50px;
}
.empty-row td{
    cursor:default;
}
.empty-row:hover{
    background-color: #ebebeb;
}