form .measurement{
    display: flex;
    width: 100%;
    gap:40px;
    justify-content: center;
}
form .measurement section{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 50%;
    justify-content: space-between;
}
.measurement .meas-block{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;
}
.measurement input{
    min-width: 100px;
    max-width: none;
    width: auto;
}
.measurement h5{
    font-size: clamp(14px, 2vw, 20px);
    line-height: 50px;
}
.measurement select{
    width: auto;
    max-width: 350px;
}
.measurement section div{
    display: flex;
}


.measurement .inputs{
    width: 40%;
}

.measurements{
    display: flex;
    gap:2px;
}
.measurements .console{
    width: 50%;
    gap:0;
    position: relative;
}
.measurements .console textarea{
    width: 100%;
}
.console h5{
    text-align: start;
}
.measurements .clear-measure{
    position: absolute;
    right:0;
    bottom:6px;
    width: 60px;
    height:30px;
    font-size: 14px;
}
.imitator-settings, .measurement, .measurements{
    margin-bottom: 20px;
}
.imitator-settings thead {
    background-color: #3b495a;
    color:white;
    padding: 0 10px;
}
.imitator-settings td{
    border: 1px solid #3b495a;
    height: 100px;
    text-align: center;
    padding: 0 5px;
    cursor: default;
}
.imitator-settings tr:hover{
    background-color: rgba(255, 0, 0, 0);
}
.imitator-settings td .counter-container{
    margin: auto;
    min-width: 100px;
    width: 70%;
    max-width: 300px;
}

.imitator-settings .Noise td{
    border-width: 1px 0;
}
.imitator-settings .Noise td:nth-child(1){
    border-width: 1px;
}
.imitator-settings .Noise td:last-child{
    border-width: 0 1px 1px 0;
}
.imitator-settings td .counter-container input{
    min-width: 50px;
    width: 100%;
}
.comments{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.comments label{
    display: flex;
    flex-direction: row;
    gap:20px;
    width: 100%;
}
.comments label h5{
    width: clamp(140px, 15vw, 200px);
    text-align: start;
    margin-left: 40px;
}
.comments label input{
    width: 100%;
    max-width: 70%;
}

.buttons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap:40px;
}
.buttons button{
    margin: 40px 0;
}

@media (width < 1800px) {
    .measurement{
        flex-direction: column;
    }
    .measurement h5{
        font-size: 20px;
    }
    .measurement .measurement{
        flex-direction: column;
        display: grid;
        grid-template-columns:2fr 1fr;

    }
    form .measurement section, form .measurement .inputs{
        width: 100%;
    }
    .inputs div:first-child{
        justify-content: flex-start;
    }
}
.frame-settings{
    margin-bottom: 20px;
}
.frame-list-body{
    margin-top: 20px;
    background: #eef1f6;
    padding: 20px;
    gap:10px;
    display: flex;
    flex-direction: column;
}

.frame div{
    padding: 10px;
    width: 120px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-list-header svg{
    border: 1px solid black;
    padding: 2px;
}

.frame-list-body .frame{
    height: 60px;
    display: inline-flex;
    width: auto;
    align-items: center;
    font-size: 22px;
    gap:0;
    padding: 5px;
    background: #e5e7f1;
}
main .page .frame-buttons-container{
   flex-direction: row;
    margin-top: 40px;
}

main .page .frame-buttons-container button{
    margin: 0;
}

.frame button{
    width: 40px;
    height: 40px;
    margin: 0;
    margin-left: 5px;
}

.frame button:first-child{
    cursor: grab;
}
