form .measurement{
    display: flex;
    width: 100%;
    gap:40px;
    justify-content: center;
}
form .measurement section{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 50%;
    justify-content: space-between;
}
form .measurement section:last-child h5{ 
    width: 50%;
    min-width: 0;
}
form .measurement section div{
    flex-direction: row;
}

form .measurement section div .counter{
    flex-direction: column;
}
.measurement h5{
    text-align: start;
    font-size: clamp(16px, 1vw, 30px);
    width: 50%;
    line-height: 50px;
}
.measurement input{
    min-width: 100px;
    max-width: none;
}
.measurement .counter-container{
    width: 40%;
    max-width: 500px;
    min-width: 0;
}
.measurement select{
    min-width: 100px;
    width: 50%;
    font-size: clamp(10px, 1vw,30px);
}

.measurement .inputs{
    width: 40%;
}

.measurements{
    display: flex;
    gap:2px;
}
.measurements .console{
    width: 50%;
    gap:0;
}
.measurements  h5{
    font-size: 22px;
    width: 100%;
    text-align: start;
    margin-left: 40px;
    margin-bottom:0 ;
}
.imitator-settings thead {
    background-color: #3b495a;
    color:white;
    padding: 0 10px;
}
.imitator-settings td{
    border: 1px solid #3b495a;
    height: 100px;
    text-align: center;
    padding: 0 5px;
    cursor: default;
}
.imitator-settings tr:hover{
    background-color: rgba(255, 0, 0, 0);
}
.imitator-settings td .counter-container{
    margin: auto;
    min-width: 100px;
    width: 70%;
    max-width: 300px;
}

.imitator-settings .Noise td{
    border-width: 1px 0;
}
.imitator-settings .Noise td:nth-child(1){
    border-width: 1px;
}
.imitator-settings .Noise td:last-child{
    border-width: 0 1px 1px 0;
}
.imitator-settings td .counter-container input{
    min-width: 50px;
    width: 100%;
}
.comments{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.comments label{
    display: flex;
    flex-direction: row;
    gap:20px;
    width: 100%;
}
.comments label h5{
    width: auto;
    text-align: start;
    margin-left: 40px;
}
.comments label input{
    width: 100%;
    max-width: 70%;
}

.buttons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap:40px;
}
.buttons button{
    margin: 40px 0;
}

@media (width < 1800px) {
    .measurement{
        flex-direction: column;
    }
    form .measurement section, form .measurement .inputs{
        width: 100%;
    }
    form .measurement section div{
        justify-content: space-between;
    }
    .inputs div:first-child{
        justify-content: flex-start;
    }
    .measurement h5{
        text-align: start;
        width: 50%;
        line-height: 50px;
    }
}