form .measurement{
    display: flex;
    width: 100%;
    gap:40px;
    justify-content: center;
}
form .measurement section{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 50%;
    justify-content: space-between;
}
.measurement .meas-block{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;
}
.measurement input{
    min-width: 100px;
    max-width: none;
    width: auto;
}
.measurement h5{
    font-size: clamp(14px, 2vw, 20px);
    line-height: 50px;
}
.measurement select{
    width: auto;
    max-width: 350px;
}
.measurement section div{
    display: flex;
}


.measurement .inputs{
    width: 40%;
}

.measurements{
    display: flex;
    gap:2px;
    justify-content: center;
}
.measurements .console{
    width: 50%;
    gap:0;
    position: relative;
    max-width: 800px;
}
.measurements h5{
    display: inline-flex;
}
.measurements .console .measurements-list{
    width: 100%;
    border:1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    height: 200px;
    overflow-y: scroll;
    padding: 4px;
}

.measurements .console .cls-btn{
    position: absolute;
    bottom: 0;
    left:0;
}

.measurements-list-item{
    min-width: 300px;
    display: grid;
    grid-template-columns:180px 1fr;
    grid-template-rows:auto;
    cursor: pointer;
    margin-bottom:4px;
    outline:1px solid black;
    padding:6px 10px;
    font-size: 14px;
    border-radius: 5px;
    border-right: 20px solid #2c3642;
    height:auto;
    overflow:hidden;
}
.measurements-list-item span{
    line-height: 20px;
}
.measurements-list-item div{
    display: flex;
    flex-direction: column;
    height: auto;
}
.item-time span{
    line-height: 20px;
    height: 20px;
}

.measurements-list-item:hover {
    border-color: rgba(44, 54, 66, 0.9);
}
.measurements-list .imit{
    border-right: 20px solid #008667;
}
.imit:hover{
    border-right: 20px solid rgba(0, 134, 103, 0.9);
}
.measurements-list .planning{
    border-right: 20px solid #433e57;
}
.planning:hover{
    border-right: 20px solid #554e6e;
}
.measurements-list .err{
    border-right: 20px solid #ff2828;
}
.err:hover{
    border-right: 20px solid #ff4c4c;
}

@media(min-width: 1400px){
    .measurements-list-item{
        display: grid;
        grid-template-columns:180px 1fr;
        grid-template-rows:auto;
        cursor: pointer;
        margin-bottom:4px;
        outline:1px solid black;
        padding:6px 10px;
        font-size: 16px;
        line-height: 26px;
        border-radius: 5px;
        border-right: 20px solid #2c3642;
        overflow:hidden;
        height: auto;
    }
}

.meas-modal{
    width: 1000px;
    height: auto;
    left: calc(50% - 500px);
    max-height: 80%;
    overflow-y: scroll;
}
.meas-modal button{
    position: relative;
    top:0;
    left: 0;
    height: 50px;
    line-height: 50px;
}
.meas-modal span{
    opacity: 0.7;
}

.meas-modal .modal-row{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-column-gap: 40px;
}
.meas-modal table{
    grid-column:1/3
}

.secondary {
    font-size: 14px;
    opacity: 0.7;
    line-height: 30px;
}

.console h5{
    text-align: start;
}
.cls-btn{
    background:none;
    color: #4f6379;
    display: inline;
    border: none;
    width: auto;
    font-size: 18px;
    position: relative;
    height: 25px;
    left:10px;
}

.cls-btn:hover{
    background:none;
    color: #353f4f;
    display: inline;
    border: none;
    width: auto;
    font-size: 18px;
}

.imitator-settings, .measurement, .measurements{
    margin-bottom: 20px;
}
.imitator-settings thead {
    background-color: #3b495a;
    color:white;
    padding: 0 10px;
}
.imitator-settings td{
    border: 1px solid #3b495a;
    height: 100px;
    text-align: center;
    padding: 0 5px;
    cursor: default;
    width: 300px;
}
.imitator-settings td:first-child{
    width: 150px;
}
.imitator-settings tr:hover{
    background-color: rgba(255, 0, 0, 0);
}
.imitator-settings td .counter-container{
    margin: auto;
    min-width: 100px;
    width: 70%;
    max-width: 300px;
    position: relative;
}

.imitator-settings .Noise td{
    border-width: 1px 0;
}
.imitator-settings .Noise td:nth-child(1){
    border-width: 1px;
}
.imitator-settings .Noise td:last-child{
    border-width: 0 1px 1px 0;
}
.imitator-settings td .counter-container input{
    min-width: 50px;
    width: 100%;
}
.imitator-settings td .counter-container input:focus{

}
.comments{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.comments label{
    display: flex;
    flex-direction: row;
    gap:20px;
    width: 100%;
}
.comments label h5{
    width: clamp(140px, 15vw, 200px);
    text-align: start;
    margin-left: 40px;
}
.comments label input{
    width: 100%;
    max-width: 70%;
}

.buttons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap:40px;
}
.buttons button{
    margin: 40px 0;
}

@media (width < 1800px) {
    .measurement{
        flex-direction: column;
    }
    .measurement h5{
        font-size: 20px;
    }
    .measurement .measurement{
        flex-direction: column;
        display: grid;
        grid-template-columns:2fr 1fr;

    }
    form .measurement section, form .measurement .inputs{
        width: 100%;
    }
    .inputs div:first-child{
        justify-content: flex-start;
    }
}
.frame-settings{
    margin-bottom: 20px;
}
.frame-list-body{
    margin-top: 20px;
    background: #eef1f6;
    padding: 20px;
    gap:10px;
    display: flex;
    flex-direction: column;
}

.frame div{
    padding: 10px;
    width: 120px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-list-header svg{
    border: 1px solid black;
    padding: 2px;
}

.frame-list-body .frame{
    height: 60px;
    display: inline-flex;
    width: auto;
    align-items: center;
    font-size: 22px;
    gap:0;
    padding: 5px;
    background: #e5e7f1;
}
main .page .frame-buttons-container{
   flex-direction: row;
    margin-top: 40px;
}

main .page .frame-buttons-container button{
    margin: 0;
}

.frame button{
    width: 40px;
    height: 40px;
    margin: 0;
    margin-left: 5px;
}

.frame button:first-child{
    cursor: grab;
}
